body {
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(140deg, lightpink, plum 40%, coral) fixed;
}
img {
    width: 630px;
    height: 630px;
}
#slideshow {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
h1 {
    margin-top: 2.5em;
    text-align: center;
}

/* header (navigation bar) styles */
nav ul {
    position: fixed;
    padding: 10px 10px;
    margin: 0;
    top: 0;
    overflow: hidden;

    background-color: darkred;
    width: 100%;
    z-index: 2;
    list-style-type: none;
}
nav ul li {
    padding: 0 10px;
    float: right;
    font-size: 1.2em;
    font-weight: bold;
    display: inline;
}
nav ul li:nth-of-type(1) {
    margin-right: 25px;
}
nav ul li a {
    padding: 5px;
    color: goldenrod;
    text-decoration: none;
}
nav ul li a:hover {
    padding: 20px 5px;
    color:darkred;
    background-color: goldenrod;
}
nav span {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.6em;
    color: goldenrod;
    margin-left: 5px;
}

footer {
    position: fixed;
    padding: 5px 5px;
    left: 0;
    bottom: 0;
    width: 100vw;

    background-color: darkred;
    color: goldenrod;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}